/*RESET*/
html, body, header, nav, h1, a, ul, li,
main, button, section, div, span, label,
input, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

body, .grid-box {
  display: flex;
  align-items: center;
}

body {
  flex-direction: column;
  background-color: black;
}

body * {
  color: white;
  font-family: 'Exo 2', sans-serif;
}

h1 {
  margin-top: 15px;
  font-family: 'Audiowide', cursive;
  font-size: 30px;
}

button {
  border: 1px solid white;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.main-content {
  display: flex;
}

.grid-box {
  width: 480px;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}

.grid-control {
  background: url('../../images/metal.jpg')
}

.play-pause {
  border: none;
}

.grid-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tile {
  border: 1px solid white;
  border-radius: 5px;
  height: 26px;
  width: 26px;
  margin: 1px;
  cursor: pointer;
}

.playing > div {
  opacity: 0.5;
}

.stopped > div {
  opacity: 0.25;
}

.stopped > div.on {
  opacity: 0.7
}

.playing > div.on {
  animation: flash 1s;
}

.row-0 {
  background-color: #FE0000;
  color: #FE0000;
}
.row-1 {
  background-color: #FF7F00;
  color: #FF7F00;
}
.row-2 {
  background-color: #FFC000;
  color: #FFC000;
}
.row-3 {
  background-color: #FFFF01;
  color: #FFFF01;
}
.row-4 {
  background-color: #40FF01;
  color: #40FF01;
}
.row-5 {
  background-color: #00FE81;
  color: #00FE81;
}
.row-6 {
  background-color: #01FFC1;
  color: #01FFC1;
}
.row-7 {
  background-color: #01FFFF;
  color: #01FFFF;
}
.row-8 {
  background-color: #00C0FF;
  color: #00C0FF;
}
.row-9 {
  background-color: #0000FE;
  color: #0000FE;
}
.row-10 {
  background-color: #BF00FE;
  color: #BF00FE;
}
.row-11 {
  background-color: #FF00FE;
  color: #FF00FE;
}
.row-12 {
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.row-13 {
  background-color: #A8A8A8;
  color: #A8A8A8;
}
.row-14 {
  background-color: #545454;
  color: #545454;
}
.row-15 {
  background-color: #000000;
  color: #000000;
}

.tile:hover {
  border: 1px solid;
  opacity: 1;
}

.off {
  background-color: gray;
  box-shadow: none;
}

@keyframes flash {
  from { opacity: 0.75 }
  10% { opacity: 1; box-shadow: 0px 0px 15px 10px }
  to { opacity: 0.75 }
}

/*
colors
0: #FE0000
1: #FF7F00
2: #FFC000
3: #00FE81
4: #C0FF00
5: #40FF01
6: #01FFC1
7: #01FFFF
8: #00C0FF
9: #0000FE
10: #BF00FE
11: #FF00FE
12: #FFFFFF
13: #A8A8A8
14: #545454
15: #000000
#FFFF01
*/